<ion-view view-title="Reset Password" ng-cloak class="account-home">
    <ion-content layout="column" layout-padding>
        <form name="myform" flex layout="column" layout-align="center none" ng-submit="ctrl.submit(myform.$valid)">
            <div layout="column" layout-align="center center" class="mt-10">
                <section class="account-form-wrapper forgot-form">
                    <div class="list">
                        <label class="item item-input">
                            <i class="zmdi zmdi-code-smartphone zmdi-hc-lg"></i>
                            <input type="tel" placeholder="Reset Code">
                        </label>
                        <label class="item item-input">
                            <i class="zmdi zmdi-key zmdi-hc-lg"></i>
                            <input type="password" placeholder="New Password">
                        </label>
                    </div>
                    <button class="button button-full button-account">Request Password Reset</button>
                </section>
            </div>
        </form>
    </ion-content>
</ion-view>
