.product-list {
    .card {
        border-radius: 0px;
        .title {
            margin: 0px;
            font-weight: bold;
            color: $purple;
        }
        p {
            margin: 0px;
        }
    }
}
