.profile-page {
    .my-profile {
        position: relative;
        min-height: 250px;
        background: center center no-repeat;
        background-size: cover;
        background-color: #f0f0f0;
        .btn-setting {
            position: absolute;
            top: 0;
            right: 0;
        }
        .profile-pic {
            max-width: 80px;
            max-height: 80px;
            border-radius: 50%;
        }
        .profile-info {
            text-align: center;
            h2 {
                color: #fff;
            }
            p {
                color: #fff;
                font-weight: bold;
            }
        }
    }
    .share-buttons {
        button {
            color: #69358a;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #eee;
            font-size: 0.8em;
            border-radius: 0;
            padding: 0;
        }
    }
    .list {
        .item {
            min-height: 54px !important;
        }
        .icon {
            color: $purple;
            font-size: 24px !important;
        }
        .item-verification {
            .item-note {
                font-weight: bold;
                color: $purple;
            }
        }
    }
}