.account-success {
    background: url(#{$accountAssetPath}/bg_register_success.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .button-account {
        background-color: rgba(105, 53, 138, 1);
    }
}
