<ion-tabs class="tabs-icon-top tabs-custom">
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.home.category_list">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Activity" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" ui-sref="app.post.home">
        <ion-nav-view name="tab-post"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Look Up" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" ui-sref="app.order.list">
        <ion-nav-view name="tab-order"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" badge="ctrl.message" badge-style="badge-assertive" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" ui-sref="app.chat.chat_list">
        <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>
    <ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" ui-sref="app.more.home">
        <ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>
</ion-tabs>
