.chat-border {
    border-bottom: 1px solid #ddd;
}

.chat {
    font-size: 10px;
    color: #ddd;
}

.chat-name {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 700;
}

.chat-msg {
    font-size: 10px;
    line-height: 0px;
}

.chat-grey {
    font-size: 7px;
    margin-top: -17px;
    margin-bottom: 3px;
    margin-left: 26px;
    line-height: 30px;
    color: #C5C4C4;
}
